# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Game Project\2021-Project-Arcade\Project-Multiplayer\.idea/dataSources/
/dataSources.local.xml
